html
	head 
		title Time for results
		link(rel="stylesheet" href="/bootstrap/css/bootstrap.min.css")
	body 
		div(class="row")
			div(class="col-sm-5")
			h1(class="col-sm-5") Hey, #{ userData.name }, here are your results
		div(class="row")
			div(class="col-sm-2")
			div(class="col-sm-8")
				if userData.pension.endamount.pessimistic == undefined
					p We simulated taking a random fluctuation between 2% and 8%, and the simualation gave back that your possible end amount will be #{ userData.pension.endamount.fluctuating }
				else if userData.pension.endamount.fluctuating == undefined
					p In the pessimistic scenario with 2% interest you would get #{ userData.pension.endamount.pessimistic } of money $$$
					p In the neutral scenario with 4% interest you would get #{ userData.pension.endamount.average } of money $$$
					p In the pessimistic scenario with 8% interest you would get #{ userData.pension.endamount.optimistic } of money $$$
			div(class="col-sm-2")
		script(src="/js/jquery-3.1.1.min.js")